<p id="notice"><%= notice %></p>

<p>
  <strong>Building name:</strong>
  <%= @building.building_name %>
</p>

<p>
  <strong>Building address:</strong>
  <%= @building.building_address %>
</p>

<p>
  <strong>Favorite type:</strong>
  <%= @building.favorite_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @building.description %>
</p>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
